/** {
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic';
}*/

.plpr {
    padding-left: 20%;
    padding-right: 20%;
}

.footer {
    padding-left: 10%;
}

.print {
    text-decoration: none;
    color: #FFF;
}