* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Century Gothic';
    justify-content: center;
}
.header {
    background-color: #4B0082;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    color: #FFF;
}
.header a {
    margin-right: 50px;
    margin-left: 50px;
    color: #9370DB;
}
a {
    text-decoration: none;
}
.flex {
    display: flex;
    margin: 30px;
}
main{
    font-size: 1em;
    font-family: 'Century Gothic';
}
.mr {
    margin-left: 25%;
    margin-right: 25%;
}
li {
    list-style: none;
}
button {
    width: 150px;
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
    border: 1px #000 solid;
    margin-bottom: 5px;
}
button:focus{
    border: rgb(115, 96, 182) 2px solid;
}
.color{
    width: 40px;
    height: 40px;
}
.color1{
    background-color: #c77eda;
}
.color2{
    background-color: #70addf;
}
.color3{
    background-color: #51dbb9;
}