* {
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic';
}
body {
    background-color: #6A5ACD;
    color: #FFFFFF;
    justify-content: center;
}
.header {
    background-color: #4B0082;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}
.header a {
    margin-right: 50px;
    margin-left: 50px;
    color: #9370DB;
}
a {
    text-decoration: none;
}
main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
main a {
    color: #483D8B;
}
main div {
    margin-right: 50px;
}
.menu_horizont ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.menu_horizont li {
    display: inline;
}
.menu_mnuroven li ul {
    padding-left: 20px;
}
.mv ul ul {
    position: relative;
    display: none;
}
.mv li:hover ul {
    display: block;
}
.social {
    width: 300px;
    margin: 0 auto;
    padding: 10px;
}
.social a {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    vertical-align: middle;
}
.gh {
    background-color: #191970;
}
.nf {
    background-color: #8B0000;
}
.tw {
    background-color: #FF00FF;
}
.comment {
    display: flex; 
    flex-direction: 
    column; width: 200px;
}
.paginator {
    width: 200px;
    padding: 10px;
    white-space: nowrap;
}
.paginator a, .paginator span {
    display: inline-block;
    min-width: 20px;
    height: 50px;
    padding: 0 10px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #191970;
}
.paginator .current {
    background-color: #8B0000;
}
.paginator .disabled {
    opacity: 0.3;
}
.paginator a:hover {
    background-color: #0000CD;
}